altair @ file:///C:/Users/task_176700181834183/croot/altair_1767001935077/work
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.0
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356939015/work
blinker @ file:///C:/miniconda3/conda-bld/blinker_1764332315443/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938096667/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
cachetools @ file:///C:/miniconda3/conda-bld/cachetools_1764867553352/work
certifi @ file:///C:/Users/task_176765902528894/croot/certifi_1767659216804/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click @ file:///C:/miniconda3/conda-bld/click_1764332349001/work
colorama==0.4.6
comm==0.2.2
debugpy==1.8.14
decorator==5.2.1
distro==1.9.0
dotenv==0.9.9
exceptiongroup==1.3.0
executing==2.2.0
gitdb @ file:///C:/b/abs_1bkmriimss/croot/gitdb_1753362133190/work
GitPython @ file:///C:/Users/task_176787345792893/croot/gitpython_1767874171805/work
groq==0.37.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
ipykernel==6.29.5
ipython==8.37.0
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema @ file:///C:/Users/task_176795548334600/croot/jsonschema_1767955585602/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788648330/work
jupyter_client==8.6.3
jupyter_core==5.8.1
langchain==1.2.10
langchain-core==1.2.11
langchain-groq==1.1.2
langgraph==1.0.8
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.5
langsmith==0.7.1
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline==0.1.7
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592981169/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593075610/work
narwhals==2.16.0
nest-asyncio==1.6.0
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165723970/work
numpy @ file:///C:/miniconda3/conda-bld/numpy_and_numpy_base_1761579405538/work/dist/numpy-2.2.5-cp310-cp310-win_amd64.whl#sha256=074bffd27eaf24d54337a4bac76b167c7d794ddb6a813f6fa3fb37c91af766a8
orjson==3.11.7
ormsgpack==1.12.2
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332399653/work/dist/pandas-2.3.3-cp310-cp310-win_amd64.whl#sha256=25368e0adc93a7db0f3983502b4e57344f71af8f45ca3849f7c3833738f306aa
parso==0.8.4
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs==4.3.8
prompt_toolkit==3.0.51
protobuf @ file:///C:/b/abs_b5v84rwh56/croot/protobuf_1742419721750/work/bazel-bin/python/dist/protobuf-5.29.3-cp310-abi3-win_amd64.whl#sha256=dd7a6e96ccf2f19dc63e35889d44865cfe6df0449c799d650a73fb28d3073c4c
psutil==7.0.0
pure_eval==0.2.3
pyarrow @ file:///C:/miniconda3/conda-bld/pyarrow_1764939502439/work/python
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.1
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pywin32==310
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
pyzmq==26.4.0
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536910091/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
requests-toolbelt==1.0.0
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366614812/work
six==1.17.0
smmap @ file:///C:/b/abs_85z04amxrn/croot/smmap_1752748960667/work
sniffio==1.3.1
stack-data==0.6.3
streamlit @ file:///C:/Users/task_177028939708992/croot/streamlit-split_1770289522660/work/streamlit
tenacity @ file:///C:/Users/task_176718487733008/croot/tenacity_1767184998643/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado==6.5.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3 @ file:///C:/Users/task_176781036207501/croot/urllib3_1767810484846/work
uuid_utils==0.14.0
watchdog @ file:///C:/miniconda3/conda-bld/watchdog_1759775793959/work
wcwidth==0.2.13
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
xxhash==3.6.0
zstandard==0.25.0
